.hidden {
	display: none;
}

#map_tooltip {
    position:absolute;
    width:150px;
    height:auto;
    padding:10px;
    background-color: white;
    border-radius:10px;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.4);
    pointer-events: none;
}

#feature_name {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-weight: 700; 
}
